@import "./_variables.scss";
@import "./_reset.scss";

html {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: $darkText;
}

h1 {
  font-size: $text-5xl;
}

h2 {
  font-size: $text-4xl;
}

// Inputs
label {
  .inputText {
    margin-right: $space-2;
  }
}

select {
  padding: $space-2 $space-1;
  border-radius: $rounded;
  border: solid 1px $secondaryText;
  transition: all 200ms linear;

  &:hover {
    box-shadow: 0 0 $space-2 $grayBg;
  }
}

// Generic Classes
.lightText {
  color: $lightText;
}

.box {
  padding: $space-5;
  border-radius: $rounded;
  background-color: $white;
  box-shadow: $shadow;
}
